<div class="container inbox">
  <h1>Inbox</h1>
  <% if @messages.empty? %>
      <div class="alert alert-error">No Message? No Friend? :))</div>
  <% end %>
  <div class="row">
    <% @messages.each do |message| %>
          <div class="col-md-3 message_row">
            <%= message.sender.name || "Nobody but you" %>
          </div>
          <div class="col-md-3 message_row">
            <%= message.subject %>
          </div>
          <div class="col-md-6 message_row">
            <%= message.body %>
          </div>
    <% end %>
    <%= button_to "New Message", new_message_path, :method => :get, class: 'white_background_main_button' %>
  </div>
</div>