<div class="container message_box">
  <div class="card card-block">
    <%= @message.body %>
  </div>
  <div class="">
    <%= @message.read_at %>
  </div>
  <div>
    <%= @message.created_at %>
  </div>
</div>
</div>