<h1 class="text-center Pinder_slogan">Find Your Soul Mate</h1>
<%= image_tag ('https://wallpaperscraft.com/image/girl_dating_flowers_hugs_67458_1920x1080.jpg'), class: 'Pinder_banner' %>
<div class="text-center">
  <%= button_to "Sign Up", new_user_path, :method => :get, class: "main_button" %>
  <%= button_to "Log In", new_session_path, :method => :get, class: "main_button" %>
</div>